.client-feedback__container {
    margin-top: 240px;
    
}

.client-feedback-title {
    display: flex;
    justify-content: center;
    color: #EE4D47;
    font-size: 24px;
}

.client-feedback-wrapper-title {
    display: flex;
    margin-top: 14px;
    justify-content: center;
    color: #402B2B;
    font-family: DM Serif Display, serif;
    font-size: 48px;
}

.client-feedback__container-items {
    display: flex;
    justify-content: space-around;
    
}

.client-feedback__container-item {
    width: 420px;
    height: 360px;
    margin-left: 20px;
    border-radius: 10px;
    background: #FFF;
    transition: border 0.2s;
    
}

.client-feedback__container-item:hover {
    border: 2px solid #EE4D47;
}

.client-feedback__container-item-text {
    display: block;
    padding-left: 30px;
    padding-top: 60px;
    color: #402B2B;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.client-feedback__container-item-wrapper {
    display: flex;
    justify-content: start;
    margin-top: 30px;
}

.client-feedback__container-item-img {
    margin-left: 50px;
    margin-top: 20px;
    
}

.client-feedback__container-item-name {
    margin-left: 15px;
    margin-top: 40px;
    font-weight: 700;
    
    
    
}


@media screen and (max-width: 340px){
    .client-feedback__container {
        margin-top: 65px;
    }

    .client-feedback-title {
        margin-top: 15px;
        font-size: 20px;
    }

    .client-feedback-wrapper-title {
        font-size: 35px;
    }

    .client-feedback__container-items {
        display: block;
    }

    .client-feedback__container-item {
        width: 290px;
        height: 240px;
    }

    .client-feedback__container-item-text {
        font-size: 13px;
        padding: 15px 15px 0;
        text-align: left;
    }

    .client-feedback__container-item-img {
        position: relative;
        margin:  0 10px 50px;
    }

    .client-feedback__container-item-name {
        font-weight: 450;
        margin-top: 20px;
    }

    .client-feedback__container-item-name-wrap {
        margin-left: 110px;
        margin-bottom: -20px;

        font-weight: 450;
    }

    .client-feedback__container-item-img-wrap {
        position: absolute;
        left: 30px;
        top: 2070px

    }
}

@media screen and (min-width: 2000px) {
    .client-feedback__container-items {
        margin-left: 250px;
    }
}