.header {
    display: flex;
    padding-top: 50px;
    
}

#header_menu {
    display: none;
    width: 35px;
    cursor: pointer;
    
}

#menu {
    display: none;
    
}

.header_menu > img{
    max-width: 100%;

}

.header__logo {
    color: #FFF;
    display: flex;
}

.header__logo-img {
    padding-bottom: 50px;
}

.header__nav ul {
    display: flex;
}

.header__nav {
    padding-left: 400px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #FFF;
    
}

.header__nav-item {
    padding-right: 130px;
    color: #FFF;
   
  
    
    
}




.header_nav-button {
    width: 158px;
    height: 60px;
    margin-top: -20px;
    color: #FFF;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
   
}
.header__logo_title {
    padding-top: 0;
    font-size: 32px;
    padding-left: 300px;
    font-weight: 400;
    
}
.header__logo-img1 {
    position: relative;
    width: 30px;
    left: 272px;
    top: 4px;
}

.header_logo-img2 {
    position: absolute;
    top: 62px;
    left: 237px;
    width: 15px;
}

.header_nav-button {
    margin-left: -20px;
    margin-top: -20px;
    background: rgba(238, 77, 71, 1 );
    border-radius: 7px;
    font-family: 'Rubik', sans-serif;
}





@media screen and (max-width: 1000px){
    .header__nav {
        display: none;
    }

    .header {
        padding-top: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 11;
        background-color: #F16353;
    }

    .header__logo {
        width: 138px;
    }


    
   

   

    #header_menu {
        display: block;
        margin-left: 130px;
    }

    #menu.show {
        display: block;
        position: fixed;
        z-index: 10;
        margin-top: 50px;
        width: 100%;
        height: 31%;
        background-color: #F16353;
    }

    #menu.show li {
        margin-top: 15px;
        margin-left: -30px;
    }

   

    #header_menu {
        cursor: pointer;
    }

    #menu.show {
        animation: moveHed 0.5s linear;
    }

    @keyframes moveHed {
        0%{
            transform: translateY(-50px);
        }

        100%{
            transform: translateY(5px);
        }
    }
}

@media screen and (min-width: 2000px){
    .header {
        width: 90%;
    }

    .header__nav {
        margin-left: 250px;
    }

}