.hero {
    background: url("../img/Background Scene.svg") no-repeat 70px -70px;
    background-size: 1900px;
   margin-left: -20px;
    
}

.hero__inner-title {
    color: #FFF;
    font-family: "DM Serif Display" serif;
    font-size: 100px;
    padding-left: 240px;
}


.hero__inner-button {
    background: rgba(238, 77, 71, 1 );
    margin-left: 245px;
    width: 220px;
    height: 60px;
    margin-top: -20px;
    color: #FFF;
    font-size: 16px;
    font-family: "Rubik-Black" sans-serif;
    border-radius: 7px;
}

.hero__inner-arrow_img {
    margin-left: 20px;
    margin-bottom: -2px;
}

.hero__car {
    position: relative;
    margin-top: 135px;
    right: 200px;
}

.hero__car-image {
    animation: moveImg 2s linear;
    
}

@keyframes moveImg {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 340px){
    .hero {
        background: url("../img/Background Scene.svg") no-repeat -100px -70px;
        background-size: cover;
    }

    .hero__inner-title {
        padding-top: 50px;
    }

    .hero__inner-title {
        font-size: 44px;
    }

    .hero__inner-button {
        width: 120px;
        height: 50px;
        font-size: 12px;
    }

    .hero__inner-arrow_img {
        width: 20px;
        margin-left: 5px;
    }

    .hero__car {
        width: 300px;
        height: 150px;
        right: 80px;
    }

    .hero__car > img {
        max-width: 100%;

    }
}

@media screen and (min-width: 2000px){
    .hero {
        background: url("../img/Background Scene.svg") no-repeat 200px -70px;
        background-size: cover;
    }

}